  body 
  {
	font: 14px arial;
 }
  
  .formLayout
    {
        background-color: #f3f3f3;
        border: solid 1px #a1a1a1;
        padding: 10px;
        width: 600px;
   }
   
  div.row {
	padding-top: 20px;
	clear: both;
  }
  
 div.actionRow {
	padding: 20px;
	clear: both;
  }
  .element {
	float: left;
	width: 35%;
	text-align: left;
  }

  .error {
	float: left;
	width: *%;
	text-align: left;
	color: red;
  }   
  
 .button-padding , .label {
   float: left;
   width: 25%;
 }
 
 .label {
	padding-right: 10px;
	text-align: right;
  }
  
  .button {
	float: right;
  }
  
  .hidden {
	visibility: hidden;
	display: none;
  }